[Unit]
Description=Xbox Controller Userland Driver
After=xboxdrv.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/xboxdrv --wid 0 -l 2 --deadzone 12000
Restart=on-abort

[Install]
WantedBy=multi-user.target
