[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

"smbus2" = "*"
numpy = "*"
"rpi.gpio" = "*"
evdev = "*"
psutil = "*"


[dev-packages]



[requires]

python_version = "3.6.8"
