[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

evdev = "*"
numpy = "*"
pexpect = "*"
psutil = "*"
"rpi.gpio" = "*"
"smbus2" = "*"


[dev-packages]



[requires]

python_version = "3.6.8"
